.open-close-container {
  border: 1px solid #dddddd;
  margin-top: 1.5em;
  padding: 20px 20px 0px 20px;
  color: #000000;
  background-color: #fdfdfd;
  font-weight: bold;
  border-radius: 0.5em;
  
}

form {
    padding: 0px 8px 8px 8px;  
}

label {
    color: #673ab7;
}

form.normForm {
  height: 10em;
  width: 400px;
  overflow-y: auto;
}
@media (max-width: 850px){
    /deep/ form.normForm {
        max-width: none;
        display: flex;
    }
}
h1 {
    margin-bottom: 0px;
} @media (max-width: 850px){
    h1.subheader {
        font-size: x-large;
    }
} @media (max-width: 650px){
    h1.subheader {
        font-size: large;
    }
}

/deep/ form mat-form-field {
    width: 100%;
}

form > *:not(.alert) {
    height: 55px;
}

/deep/ div.align-horizontally {
	display: block;
} @media (max-width: 850px) {
    /deep/ div.align-horizontally {
        display: grid;
        margin-bottom: 10px;
    }
}

/deep/ div.align-horizontally > *:nth-child(1) {
	width: 49.6%;
} @media (max-width: 850px){
    /deep/ div.align-horizontally > *:nth-child(1) {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
}

/deep/ div.align-horizontally > *:nth-child(2) {
	width: 49.6%;
} @media (max-width: 850px){
    /deep/ div.align-horizontally > *:nth-child(2) {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
}

/deep/ div.fullsize > *:nth-child(1){
    width : 100%;
}
/deep/ div.fullsize > *:nth-child(2){
    width : 100%;
}
div.buttonContainer button {
    margin: 0px 5px 8px 5px;
}

object {
    position: relative;
    right: 0px;
    top: 0px;
    height: 80px;
    width: 200px;
    object-fit: contain;
    object-position: 80% 50%;
}

/deep/ div.align-datepicker {
	display: inline-table;
}

/deep/ mat-radio-group {
    display: initial;
} @media (max-width: 850px) {
    /deep/ mat-radio-group {
        margin-top: 15px;
    }
}

/deep/table.transaction-table th {
    color: rgba(0, 0, 0, 0.54);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    font-weight: 400;
    text-align: left;
}

/deep/table.transaction-table td {
    color: rgba(0, 0, 0, 0.87);
}

/deep/td.numeric {
	text-align: right;
	padding-right: 10px;
}

/deep/table.transactionTable button {
	height: 20px;
    width: 20px;
    line-height: 20px;
    color: rgba(0,0,0,0.54);
}

/deep/div.transactionHistory{
    padding-top:5px;
}

mat-icon.viewHistory{
    font-size: 29px; 
}

.errorHint {
    color: red;
    opacity: 1;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@media (max-width: 850px) {
    div.buttonContainer[_ngcontent-c13] button[_ngcontent-c13]{
        font-size: small;
    }

    .mat-tab-group{
        font-size: small;
    }
  .open-close-container {
    height: 10em;
    width: 400px;
    overflow-y: auto;
  }
}

@media (max-width: 650px) {
    div.buttonContainer[_ngcontent-c13] button[_ngcontent-c13]{
        font-size: x-small;
    }

    .mat-tab-group{
        font-size: x-small;
    }

    /deep/.mat-tab-label{
        font-size: x-small;
        min-width: 75px;
    }
    .open-close-container {
        height:50em;
        overflow-y: auto;
    }
}
