<div fxLayout="column" fxLayoutAlign="center center">
	<h2>Sample Record</h2>
	
  <div fxLayout="column" class="open-close-container">
    <form fxLayout="column" #sampleForm="ngForm" class="normForm">
      <mat-form-field>
        <input matInput placeholder="Title" [(ngModel)]="model.title" name="title">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="model.name" name="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="model.email" name="email">
      </mat-form-field>
      <div class="buttonContainer" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="save(sampleForm)">Save</button>
      </div>
    </form>
  </div>
    
</div>

<span *ngIf="showLoad" class="loading"></span>
