
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    margin: 0px;
}

app-root, app-home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:#fcfcfb;
}

div.container {
    width: 500px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

mat-dialog-container.mat-dialog-container {
    padding: 0px;
    overflow-x: hidden;
    max-width: 100%;
}  @media (max-width: 650px) {
   mat-dialog-container.mat-dialog-container {
      padding: 0px;
      overflow-x: scroll;
      max-width: 100%;
  }
}

div.container {
    width: 400px;
    margin: 4em auto;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
} @media (max-width: 400px) {
  div.container {
    width: auto;
  }
}

div.md2-datepicker-header {
    background: #761fa2 !important;
}


div.formNewInstantPay mat-form-field {
    width: 100%;
}

div.formNewInstantPay2 mat-form-field {
    width: 100%;
    margin-bottom: 8px;
}

div.formNewInstantPay2 mat-select {
    width: 100%;
} 

div.md2-button {
    color: #761fa2 !important;
}

div.md2-calendar-day.today {
    color: #761fa2 !important;
}

md2-datepicker:focus:not(.md2-datepicker-disabled) .md2-datepicker-input {
    color: #761fa2 !important;
    border-color: #761fa2 !important;
}

.md2-datepicker-icon {
    display: none !important;
}

div.md2-datepicker-trigger {
    padding-left: 0px !important;
}

div.errors {
    background-color: #fd9b9d;
    border: 1px red solid;
}

mat-hint.errorHint {
    color: red !important;
    opacity: 1;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

mat-hint.infoHint {
    color: rgba(0,0,0,.38);
}

@keyframes fadeIn {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}

h1.subheader {
    font-size: 28px;
    font-weight: 400;
    line-height: 10px;
    margin-bottom: 30px;
    color: #761fa2;
    padding-left : 10px;
}

mat-nav-list a:focus {
    outline: none;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.fade {
    transition: opacity .10s linear;
}

.hide {
    opacity: 0 !important;
}

div.usermanagement {
  -webkit-logical-height : -webkit-fill-available;
}

div.loginForm form {
    display: flex;
    padding: 2em 2em 1em 2em;
    flex-direction: column
}

div.loginForm mat-form-field {
    margin-bottom: 24px;
}

div.loginForm div.secondaryLink {
    padding: 10px;
}

div.loginForm .alert {
    padding: 5px;
    margin-bottom: 1em;
    opacity: 1;
}

div.loginForm mat-form-field {
    margin-bottom: 0px;
}

.mat-toolbar .mat-toolbar-row {
    justify-content: center;
}


/*spinner CSS */
.tootlbar-icon {
  padding: 0 14px;
}

.tootlbar-spacer {
  flex: 1 1 auto;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

div[fxLayout="column"]>div[fxFlex]{
flex: 1 0 auto !important;
}

.initialIcon {
    text-align: center;
    color: white;
    border-radius: 100px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-transform: uppercase;
    margin: 0 auto;
}

.monthly {
    background-color: #339933;
}

.yearly {
    background-color: #9900cc;
}

.weekly {
    background-color: #cc3300;
}

.daily {
    background-color: #333399;
}

h1.qrsubheader {
    font-size: 28px;
    font-weight: 400;
    color: #761fa2;
    padding-left : 10px;
}

.pagingTable { 
    width:auto;
    float:right;
}

::-webkit-file-upload-button {
  background: white;
  color: black;
  padding: 1em;
  flex: 0 0 auto;
  box-sizing: border-box;
  max-width: none;
}

div.home-content{
    overflow: hidden;
}

@media (max-width: 850px){
  .mat-tab-label, .mat-tab-link{
    font-size: small;
  }

  .mat-tab-label[_ngcontent-c40]{
    width: unset;
  }

  .mat-select-trigger {
    font-size: small;
  }

  .mat-input-prefix, .mat-input-suffix{
    font-size: small;
  }

  .mat-dialog-container{
    font-size: small;
  }

  .mat-button, .mat-icon-button, .mat-raised-button{
    font-size: small;
  }

  .mat-option{
    font-size: small;
  }

  .mat-dialog-container{
    font-size: small;
  }

  .mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button{
    font-size: small;
  }

  div.home-content{
    font-size: small;
  }

  .mat-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content{
    font-size: small;
  }

  div.loginForm form{
    font-size: small;
  }

  .mat-menu-item{
    font-size: small;
  }

  .nav[_ngcontent-c8] > li[_ngcontent-c8] > a[_ngcontent-c8]{
    font-size: large;
  }

  .mat-menu-panel.my-full-width-menu {
      max-width: none;
      margin-top: 24px;
  }
    
  .mat-card{
      padding: 0px !important;
  }

  div.cdk-overlay-pane, mat-dialog-container.mat-dialog-container my-drop-down{
    left : 0px !important;
  }

  div.cdk-overlay-pane, mat-dialog-container.mat-dialog-container {
      width: 100% !important;
      max-width: 100%;
      left : 0px !important;
  }  
}

@media (max-width: 850px){
  div.cdk-overlay-pane, mat-dialog-container.mat-dialog-container.alertbox {
      width: unset  !important;
      left : 0px !important;
  }  
}

@media (max-width: 650px){
  .mat-tab-label, .mat-tab-link{
    font-size: x-small;
  }

  .mat-tab-label[_ngcontent-c40]{
    width: unset;
  }
 
  .mat-select-trigger {
    font-size: x-small;
  }

  .mat-input-prefix, .mat-input-suffix{
    font-size: x-small;
  }

  .mat-dialog-container{
    font-size: x-small;
  }

  .mat-button, .mat-icon-button, .mat-raised-button{
    font-size: x-small;
  }

  .mat-option{
    font-size: x-small;
  }

  .mat-dialog-container{
    font-size: x-small;
  }

  .mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button{
    font-size: x-small;
  }

  div.home-content{
    font-size: x-small;
  }

  .mat-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content{
    font-size: x-small;
  }

  div.loginForm form{
    font-size: small;
  }

  .mat-menu-item{
    font-size: x-small;
  }

  .nav[_ngcontent-c8] > li[_ngcontent-c8] > a[_ngcontent-c8]{
    font-size: medium;
  }

  .mat-menu-panel.my-full-width-menu {
      max-width: none;
      margin-top: 24px;
  }
    
  .mat-card{
      padding: 0px !important;
  }

  div.cdk-overlay-pane, mat-dialog-container.mat-dialog-container my-drop-down{

    left : 0px !important;
  }

  div.cdk-overlay-pane, mat-dialog-container.mat-dialog-container {
      width: 100% !important;
      max-width: 100%;
      left : 0px !important;
  }
}
 
.mat-menu-panel.my-menu {
  max-height: 300px !important;
}

.menu-collapse{
  padding-top: 1.2em;
}

.expandList{
  padding-left: 1em;
  padding-top: 0px !important;
}

.mat-form-field-infix {
  width : auto !important;
  min-width : auto !important;
}

.fixedContainer{
  width : 900px;
}


@media (max-width: 850px){
 .fixedContainer{
      width: 600px;
  }  
}

@media (max-width: 650px){
  .fixedContainer{
    width: 500px;
  }
}
